<div ng-include="'components/navbar/navbar.html'"></div>

    <header class="hero-unit" id="banner">
    <div class="container">
        <div>
            <img style="z-index:3;height:50px;width:160px;margin-left: 10px;" src="assets/images/erricson.png" />
        </div>
    </div>
    </header>
    <div ng-controller="MainCtrl as up">
        <br />
        <br />
        
        <!-- This button appears at center when no blog is added -->
        <div ng-if = "up.contents.length === 0" class="add-btn-div">
            <button class = "btn btn-success btn-lg add-btn" ng-click="up.addNewBlog()"> + Add Blog </button>
        </div>
        <br />

        <!-- This button appears on right side when blogs exist -->
        <div ng-if = "up.contents.length > 0">
            <button class = "btn btn-success btn-lg add-new-btn" ng-click="up.addNewBlog()"> + Add New Blog </button>
        </div>

    
        <!-- Select Demo panel-->
        <div class="selection-panel-div" ng-if="up.showSelectionDiv">
            <select class = "selection-panel" ng-change = "up.selectOption()" ng-model="up.selectedDemo" ng-options="demo as (up.htmlToPlaintext(demo.title)) for demo in up.contents">
            </select>        
        </div>

    
        <div class = "content-border-div" ng-if="up.showContentDiv">
            <br />
            <br />
            <!-- ACCORDIAN BEGINS HERE -->
            <accordion>
                <!-- HEADING ACCORDIAN -->
                <accordion-group>
                    <accordion-heading>
                    <div class="acc-heading">
                        Enter Heading
                    </div>
                    </accordion-heading>
                    
                    <div>
                        <!-- CKEDITOR for heading -->
                        <textarea ng-model="up.title" name="blogTitle"></textarea>
                        <script>
                            // CODE TO CUSTOMIZE THE EDITOR WITH LESS NUMBER OF OPTIONS
                            // This editor only contains
                            // 1. Color button 2. Basic Styling options 3. Clipboard

                            CKEDITOR.plugins.addExternal( 'colorbutton', '/plugins/colorbutton/', 'plugin.js' );
                            CKEDITOR.plugins.addExternal( 'panelbutton', '/plugins/panelbutton/', 'plugin.js' );
                            CKEDITOR.plugins.addExternal( 'language', '/plugins/language/', 'plugin.js' );
                            CKEDITOR.config.colorButton_colors = '000000,B1B3B4,7B0663,E32119,F08A00,89BA17,00625F,00A9D4,FABb00';
                            CKEDITOR.config.colorButton_foreStyle = {
                                element: 'span',
                                styles: { color: '#(color)' }
                            };
                            CKEDITOR.replace( 'blogTitle',
                            {
                                extraPlugins: 'colorbutton',
                                extraPlugins: 'panelbutton',
                                extraPlugins: 'language',
                                toolbar : 
                                [
                                    { name: 'basicstyles', items : [ 'Bold','Italic' ] },
                                    { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
                                    { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ]},
                                    { name: 'colors', items: [ 'TextColor', 'BGColor' ] }
                                ]
                            });
                        </script>
                        <!-- CKEDITOR ends -->
                    </div>
                    <br>
                    <div>
                        <button type = "button" class = "btn btn-primary" ng-click="up.uploadTitle(up.title)" >Change Heading</button>
                    </div>
                </accordion-group>
                <!-- HEADING Accordian ends here -->
                
                <!-- Accordian for Text Content of blog-->
                <accordion-group>
                    <accordion-heading>  

                    <div class="acc-heading">
                        Enter Text
                    </div>
                        
                    </accordion-heading>
                    
                    <div>
                        <textarea ng-model="up.data" name="blogData"></textarea>
                        <script>
                            CKEDITOR.replace( 'blogData' );
                        </script>
                    </div>
                    <br />
                    <div>
                        <button type = "button" class = "btn btn-primary" ng-click="up.uploadData(up.data)" >Upload Text</button>
                    </div>
                </accordion-group>
                <!-- Text Content accordian ends here-->


                <!-- ACCORDIAN FOR Image Upload -->
                <accordion-group>
                    <accordion-heading>

                    <div class="acc-heading">
                         Upload Image 
                    </div>
  
                    </accordion-heading>
                    <div class="clearfix">
                        <div class="col-md-4">
                            <form name="up.upload_form">
                                    <label>Select Image</label>
                                <input 
                                    type="file" 
                                    ngf-select 
                                    ng-model="up.file" 
                                    name="file" 
                                    ngf-pattern="'image/*'"
                                    accept="image/*" 
                                    ngf-max-size="20MB" 
                                    />
                            <br>
                            <div>
                                <button type = "button" class = "btn btn-primary" ng-click="up.submit(1)" >Upload Image</button>
                            </div>
                            
                        </div>
                        <div class="col-md-8">
                            <div ng-repeat="image in up.images track by $index">
                                <br>
                                <div class="img-content">
                                    <img ng-src="{{image}}" height="100px" width="100px" />
                                    <button type = "button" class = "btn btn-danger btn-transparent" ng-click="up.removeImage($index)"><span class="glyphicon glyphicon-remove"></span></button>
                                    
                                    
                                </div>
                                <textarea ng-model = "up.imgDescription[$index]"></textarea>
                                <button ng-click="up.addDescription(up.imgDescription[$index], $index)">Upload Description</button>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-8">
                            <p>{{up.progressText1}}</p>
                            <!--  <progress class="progbar" min="0" value="{{up.imUploadProgress}}" max="100" ></progress> -->
                        </div>
                    </div>    
                </accordion-group>
                <!-- Image Accordian ends here-->
            
                <!-- VIDEO Accordian -->
                <accordion-group>
                    <accordion-heading>

                    <div class="acc-heading">
                           Upload Video  
                    </div>
                    
                      
                    </accordion-heading>
                
                    <div class="clearfix">
                        <div class="col-md-4">
                            <label>Select Video</label>
                            <input 
                                type="file" 
                                ngf-select 
                                ng-model="up.file" 
                                name="file" 
                                ngf-pattern="'video/*'"
                                accept="video/*"                     
                            />
                            <br>
                            <div>
                                <button type = "button" class = "btn btn-primary" ng-click="up.submit(2)" >Upload Video</button>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div ng-repeat="videosrc in up.videoPath track by $index">
                                <br>
                                <div class="img-content">
                                    <video ng-src="{{videosrc}}" height="100px" width="100px" />
                                    <button ng-if="up.videoPath.length>0" type = "button" class = "btn btn-danger btn-transparent" ng-click="up.removeVideo($index)"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>

                        </div>
                        <p>{{up.progressText2}}</p>
                    </div> 
                </accordion-group>
                <!-- Video Accordian ends here-->
            
            </accordian>
        
            <div class="submit-button">
                <button class="button-style" ng-click="up.submitBlog()"> Submit </button>
            </div>

        </div>
  

        <footer class="footer">
            <div class="container">
                <button class="downloadbutton-style" ng-csv = "up.feedbackArray" filename = "feedbacks.csv" csv-header = "up.getHeader()"> Download Feedbacks </button>
            </div>
        </footer>

    </div>